*{
	box-sizing:border-box;
}

body{
	background-color:#abd9e9;
	font-family:Sans-serif;
}


#container{
	width:100%%;
	height:800px;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	width:30%;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

main tabcontent{
  padding: 0px 12px;
	width:75%;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:70%;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	background-color:#d9d9d9;
	padding:30px 20px;
	border-radius:20px;
}

aside input{
	
	margin-bottom:10px;
	width:100%;
	height:20px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:250px;
	background-size:40px;
	margin-top: -8px;
}
aside input::placeholder{
	color:#fff;
}

aside ul{
	background-color:white;
	padding-left:0;
	margin-top:-47px;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}
aside li{
	padding:6px 0;

}
aside li:hover{
	background-color:#f2f2f2;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:black;
	font-weight:normal;
	margin-bottom:px; 
}
aside li a{
      padding: 12px;
      	font-size:14px;
	font-weight:normal;
	margin-bottom:-10px;
  margin-top:-6px;

  text-decoration: none;
  color: black;
  display: block
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
  margin-top:-5px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	height:75px;

	padding:30px 20px 30px 40px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
	margin-top:-17px;
}
main header img:last-child{
	width:24px;
	margin-top:3px;
}

main header div{
	margin-left:10px;
	margin-right:145px;
	margin-top:-5px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:535px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  	background-image: grayscale(50%);  
	background-size: cover; 
  	height:100%%; 
  	padding-top:80px;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:black;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:20px;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:white
;
}
#chat .me .message{
	background-color:#9fc69f;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:375px;
}

main footer{
	padding-top:200px;
	height:130px;
	padding:20px 30px 10px 20px;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:100px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
main footer textarea::placeholder{
	color:#ddd;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:333px;
	margin-top:5px;
	display:inline-block;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

aside button{
  display: block;
  background-color: inherit;
  color: black;
  padding-top:1px ;
  padding-bottom:1px ;
  padding-left:1px ;
  padding-right:1px ;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  margin-bottom:-16px;
  margin-top:15px;
}
