@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
p {
    color: var(--color);
}

:root {
    --myclr: rgb(12, 14, 36);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #e9e9e9;
    overflow-x: hidden;
    padding-top: 70px;
    padding-left: 0;
    font-family: "poppins", sans-serif;
    margin: 0 100px;
}

.profile-header {
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    height: 150px;
    position: relative;
    border-radius: 4%;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .2);
}

.profile-img {
    float: left;
    width: 340px;
    height: 200px;
}

.profile-img img {
    border-radius: 20%;
    height: 200px;
    width: 200px;
    border: 4px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: #fff;
}

.profile-nav-info {
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.profile-nav-info h3 {
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.profile-nav-info .address {
    display: flex;
    font-weight: bold;
    color: rgb(95, 93, 93);
}

.profile-nav-info .address p {
    margin-right: 5px;
}

.profile-option {
    width: 40px;
    height: 40px;
    background: var(--myclr);
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    outline: none;
}

.profile-option .notification i {
    color: #fff;
    font: 1.2rem;
    transition: all .5s ease-in-out;
}

.profile-option:hover {
    background: #fff;
    border: 2px solid var(--myclr);
}

.profile-option:hover .notification i {
    color: var(--myclr);
}

.profile-option .notification .alert-message {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    color: var(--myclr);
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
}

.main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
}

.profile-side {
    width: 280px;
    height: fit-content;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    padding: 90px 30px 20px;
    font-family: "Bree Serif", serif;
    margin-left: 10px;
    z-index: 99;
}

.profile-side p {
    margin-bottom: 7px;
    color: #333;
    font-size: 14px;
}

.profile-side p i {
    color: var(--myclr);
    margin-right: 10px;
}

.mobile-number i {
    transform: rotateY(180deg);
}

.profile-btn {
    display: flex;
}

button.chatbtn,
button.createbtn {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 10%;
    background: var(--myclr);
    font-family: "Bree Serif", sans-serif;
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .3);
    color: #fff;
}

button.chatbtn:hover,
button.createbtn:hover {
    background: rgb(255, 255, 255);
    color: #000000;
}

button.chatbtn i,
button.createbtn i {
    margin-right: 5px;
}

.user-rating {
    display: flex;
}

.user-rating h3 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-right: 5px;
    letter-spacing: 1px;
    color: #666;
}

.user-rating .no-user {
    font-size: .9rem;
}

.rate {
    padding-top: 6px;
}

.rate i {
    font-size: .9rem;
    color: var(--myclr);
}

.nav {
    width: 100%;
    z-index: -2;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 47px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

.nav ul li {
    padding: 10px;
    width: 15rem;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
}

.nav ul li.active,
.nav ul li:hover {
    box-shadow: 0px -3px 0px var(--myclr) inset;
}

.profile-body {
    width: 100%;
    z-index: -1;
}

.tab {
    padding: 20px;
    width: 100%;
    text-align: center;
    display: none;
}

#see-more-bio,
#see-less-bio {
    color: blue;
    cursor: pointer;
    text-transform: lowercase;
}

.label-container {
    position: fixed;
    bottom: 48px;
    right: 105px;
    display: table;
    visibility: hidden;
}

.label-text {
    color: #FFF;
    background: rgba(51, 51, 51, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: var(--myclr);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    font-size: 24px;
    margin-top: 18px;
}

a.float+div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover+div.label-container {
    visibility: visible;
    opacity: 1;
}


/* card details start  */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section {
    padding: 30px 0;
    border-radius: 20px;
}

.details-card {
    background: rgb(249, 245, 255);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-content {
    background: #cbc6fd;
    border: 4px;
    border-radius: 5%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
}

.card-img span {
    position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%, -50%);
}

.card-img span h4 {
    font-size: 12px;
    margin: 0;
    padding: 10px 5px;
    line-height: 0;
}

.card-desc {
    padding: 1.25rem;
}

.card-desc h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    color: #747373;
    font-size: 14px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.btn-card {
    background-color: #1ABC9C;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.btn-card:hover {
    background: orange;
}

a.btn-card {
    text-decoration: none;
    color: #fff;
}


/* End card section */


/*Media view*/

@media(max-width: 1100px) {
    .profile-side {
        width: 250px;
        padding: 90px 15px 20px;
    }
    .profile-img img {
        height: 200px;
        width: 200px;
        left: 50px;
        top: 50px;
    }
}

@media(max-width: 900px) {
    body {
        margin: 0 20px;
    }
    .profile-header {
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }
    .profile-img {
        float: left;
        width: 100%;
        height: 200px;
    }
    .profile-img img {
        position: relative;
        left: 0;
    }
    .profile-nav-info {
        text-align: center;
    }
    .profile-option {
        right: 20px;
        top: 75%;
        transform: translateY(50%);
    }
    .main-bd {
        flex-direction: column;
        padding-right: 0px;
    }
    .profile-side {
        width: 100%;
        text-align: center;
        padding: 20px;
        margin: 5px 0px;
    }
}