.bg-container{
    padding:20px;
}
.logo{
    display:block;
    margin:auto;
    margin-top:16vh;
}
.left{
    width:45vw;
    height:100vh;
    margin-left:2vw;
}
.right{
    width:45vw;
    height:100vh;
    margin-left:3vw;
}
.authorisation-form{
    margin-top: 30vh;
}
.inform{
    width:30vw;
    margin:10px auto;

}

.input-label{
       text-align: left;
       margin-bottom: 10px;
}
.input-box{
    width:30vw;
    height:4vw;
    border-radius: 10px;
}

